<header class="flex justify-between py-3 w-full xl:w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="https://lastfm.freetls.fastly.net/i/u/ar0/57ef79fc6eade884c97bb284ff0ff9e1.jpg" alt="barracuda">
    <nav class="flex flex-row gap-x-10 text-white my-auto">
        <a href="#top">Inicio</a>
        <a href="#exp">Experiencia</a>
        <a href="#about">Sobre mi</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>